{{>header}}
<div id="bodyDiv">
    {{>alert}}
    <div class="newLineA">
    <div>
        <img src="../images/logos/linkedin.png" alt="linkedin">
        <a href='https://www.linkedin.com/in/kaloyan-malechkanov-0b7813187/'>LinkedIn</a>
    </div>
    <div>
        <img src="../images/logos/discord.png" alt="discord">
        <a href='https://discord.gg/xtnfKkx'>Discord</a>
    </div>
    <div>
        <img src="../images/logos/instagram.png" alt="instagram">
        <a href='https://www.instagram.com/kokiflexa/'>Instagram</a>
    </div>
    <div>
        <img src="../images/logos/facebook.png" alt="facebook">
        <a href='https://www.facebook.com/profile.php?id=100010652400162'>Facebook</a>
    </div>
    <div>
        <img src="../images/logos/youtube.png" alt="youtube">
        <a href='https://www.youtube.com/channel/UCo20HJ3GV_oekSS5dODHYdA'>YouTube</a>
    </div>
    <div>
        <img src="../images/logos/github.png" alt="youtube">
        <a href='https://github.com/Kmalechkanov'>GitHub</a>
    </div>
    <div>
        <img src="../images/logos/gmail.png" alt="gmail">
        <a>KaloqnMalechkanov@gmail.com</a>
    </div>
    </div>
</div>
{{>footer}}