{{>header}}
<div class="underHeader">
    {{>alert}}
    <div class="gamesDiv">
        <div>
            <img src="../images/games/tictactoe.png" alt="tictactoe">
            <a href="#/games/tictactoe">Tic Tac Toe</a>
        </div>
        <div>
            <img src="../images/games/chess.png" alt="chess">
            <a href="#/games/chess">Chess</a>
        </div>
        <div>
            <img src="../images/games/flappybird.png" alt="flappybird">
            <a href="#/games/flappybird">Flappy Bird</a>
        </div>
        <div>
            <img src="../images/games/snake.png" alt="snake">
            <a href="#/games/snake">Snake</a>
        </div>
        <div>
            <img src="../images/games/sudoku.png" alt="sudoku">
            <a href="#/games/sudoku">Sudoku</a>
        </div>
    </div>
</div>
{{>footer}}