<div class="header">
    <div id="header-left">
        <a href="#/home">Home</a>
        <a href="#/games">Games</a>
        <a href="#/contact">Contact</a>
    </div>
    <div class="header-right">
        {{#if loggedIn}}
        <a href="#/logout">Logout</a>
        <a href="#/profile">{{username}}</a>
        {{else}}
        <a href="#/register">Register</a>
        <a href="#/login">Login</a>
        {{/if}}
    </div>
</div>